html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}
body {
  font-family: Helvetica, sans-serif;
}
.leading-1 {
  font-size: 3rem;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.container {
  max-width: 1400px;
  margin: 30px auto;
}
.btn-white {
  color: black;
  background-color: white;
  padding: 5px 20px;
  text-transform: uppercase;
}
.btn-black {
  color: white;
  background-color: black;
  padding: 5px 20px;
  text-transform: uppercase;
}
.btn-blue {
  color: blue;
  text-transform: uppercase;
}
.text-white {
  color: white;
}
.text-black {
  color: black;
}

.mySlides {
  display: none;
}
/* Nav Bar */
.mobile-menu {
  display: none;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-list {
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}
.logo-img {
  max-width: 50%;
}
.navigation-item a {
  font-size: 0.8rem;
  padding: 10px;
}

/* Showcase */
.showcase-img {
  width: 100%;
}
.showcase {
  position: relative;
}
.showcase-text {
  height: 100%;
  position: absolute;
  top: 40%;
  left: 60px;
  right: 0;
  bottom: 0;
  line-height: 3rem;
}
/* Presentation */
.presentation {
  display: flex;
  justify-content: center;
}
.product {
  padding: 20px;
  flex: 0 1 25%;
  width: 100%;
  line-height: 2rem;
}
.product-img {
  display: block;
  width: 100%;
  padding-bottom: 20px;
}
/* Highlight*/
.xbox-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.highlight {
  position: relative;
}
.highlight-text {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  line-height: 3rem;
}
/* Footer */
.mainfooter {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer-column {
  flex: 0 1 auto;
  line-height: 2rem;
}
.column-list {
  list-style: none;
  padding-left: 0;
}
.column-list a {
  font-size: 0.7rem;
  color: black;
}

@media (max-width: 800px) {
  /* nav bar */
  .mobile-menu {
    display: block;
  }
  .navigation-item {
    display: none;
  }
  .navigation-logo {
    text-align: center;
  }
  .search,
  .shopping,
  .login {
    display: block;
  }
  .search-text,
  .shopping-text,
  .login-text {
    display: none;
  }
  /* showcase */
  .showcase-text {
    top: 20%;
  }
  .showcase-text h1 {
    font-size: 1.5rem;
  }

  /* presentation */
  .presentation {
    flex-flow: row wrap;
  }
  .product {
    flex: 0 1 50%;
  }
  /* highlight */

  .highlight-text h1 {
    font-size: 1.5rem;
  }
  /* footer*/
  .mainfooter {
    flex-flow: row wrap;
  }
  .footer-column {
    flex: 0 1 30%;
  }
}
@media (max-width: 500px) {
  /* showcase */
  .showcase-text {
    position: static;
    text-align: center;
  }
  .showcase .text-white {
    background: black;
  }
  /* presentation */
  .presentation {
    flex-direction: column;
    justify-content: center;
  }
  /* highlight */
  .highlight-text {
    position: static;
    margin-top: 20px;
  }

  /* footer*/
  .mainfooter {
    flex-direction: column;
  }
}
